<div class="container-fluid text-center my-4">
    <div class="row">
        <div class="col">
            <img class="mb-4" src="./assets/img/perutours.jpg" alt="">
            <h4>Viene mostrando la belleza del Perú al mundo por más de 60 años</h4>
        </div>
    </div>
</div>
<div class="container-fluid bg-white py-3">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="./assets/img/img3.jpg" alt="">
        </div>
        <div class="col-6">
            <div>
                <h5 class="font-weight-bold">VISION</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quae harum, quibusdam earum magni natus enim pariatur neque quam fuga dicta, sed quasi velit, tempore placeat recusandae voluptatum dolorem vel.
                Fugiat temporibus est cum fugit modi, perferendis eius. Quibusdam, vero. Animi eum voluptatem quia dicta ipsa fugiat rem corrupti? Dolore beatae, quos mollitia autem obcaecati soluta! Voluptas quas quidem iure!
                Ipsa consectetur ad aliquam veniam inventore? Animi obcaecati expedita dolorem tenetur ab, autem et magnam fuga, praesentium dolores sit doloremque. Placeat dolorem maxime accusantium alias quia vel laborum exercitationem porro.
                Ipsum laboriosam molestias sint deserunt? Similique, incidunt eligendi in nisi sit soluta animi veniam distinctio beatae esse ipsa, velit mollitia harum ullam! In, assumenda ipsa. Esse ipsam numquam fuga facilis.
                Libero inventore expedita fugit neque deleniti quas at! Debitis, accusamus consequuntur commodi eligendi adipisci numquam voluptatum molestiae cupiditate quas porro delectus necessitatibus veritatis iusto dolorum tempore asperiores nemo. Tempora, autem!
                Culpa, esse consectetur neque illo saepe ipsa suscipit. Repellat mollitia quibusdam adipisci blanditiis doloribus iste ex nisi quos cum quidem commodi explicabo, nulla, odit maiores, maxime minus voluptates corporis molestias!
                Perferendis illum dolor dicta, aliquam ipsum at suscipit tempore? Atque aspernatur, facilis repudiandae dolorum ipsam expedita, in accusantium natus provident numquam a, laboriosam harum veniam quis quod obcaecati? Sed, aliquam.
                Quisquam, omnis explicabo! Suscipit numquam eligendi natus excepturi, inventore, officiis, laborum quidem blanditiis delectus at dolore magnam dolorum. Quis aliquam debitis voluptatem atque aperiam rem doloribus placeat vitae amet necessitatibus!
                Perspiciatis ipsum at laudantium delectus, molestiae omnis non culpa totam cupiditate quas laboriosam beatae placeat mollitia numquam officiis aut perferendis ea, est, nostrum vitae. Voluptates inventore officia omnis magni optio?</p>
            </div>
        </div>
    </div>
</div>
